{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" style="border-radius: 7px; border:4px solid white; box-shadow: 1px 1px 10px #555;" src="{{ app.request.basepath }}/images/TINTA.jpg" alt="Logo TINTA"/>
        </div>
        <div class="col-md-7">
            <div class="page-header">
            </div>
        </div>
    </div>
</div>
{% endblock %}